#result-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

#bmi-number {
  font-size:  1.5rem;
  color: #fff;
}

#result-container h3 {
  margin-top: 1rem;
  color: #dbd8d8;
}

#bmi-table {
  margin: 1.5rem;
  font-size: 0.8rem;
}

.table-header {
  font-weight: bold;
  color: #1a1691;
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #444;
}

.table-header h4,
.table-data p {
  flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 90px;
}

#back-btn {
    align-self: center;
}

.good {
    color: #12db34;
}

.low {
    color: #dbce12;
}

.medium {
    color: #db6212;
}

.high {
    color: #db1912;
}